*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --dark-cyan: hsl(180, 29%, 50%);
    --bg-cyan: hsl(180, 52%, 96%);
    --filter-cyan: hsl(180, 31%, 95%);
    --dark-gray-cyan: hsl(180, 8%, 52%);
    --very-dark-cyan: hsl(180, 14%, 20%);

    --shadow: 0 5px 30px 10px hsl(180, 29%, 50%, .2);
}

/* ------------------------------------------------------------ */
/* copio header y menu desde pagina principal */


header {
    position: -webkit-sticky;
     position: fixed;
     top: 0;
     background-color:var(--dark-cyan);
     height: 80px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 300;
     margin-left: 80px;
     color: white;
 }
 
 .title {
    margin-left: 20%;
     padding-left: 6em;
 }
 
 .home {
     margin-right: 100px;
     font-size: x-large;
 }
 
 .home a {
     text-decoration: none;
     color: rgb(5, 5, 5);
 }
 
 .home a:hover {
     color: #1783DB;
     cursor: pointer;
 
 }

 .icon__menu i {
    
     font-size: 25px;
     color: #000;
     cursor: pointer;
     margin-left: 15px;
 }
  
.icon__menu i:hover {
    color: #1783DB;
    cursor: pointer;
 
}

 .menu__side {
    width: 80px;
    height: 100%;
    background-color: #1783db;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #1783db;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);


}

/*Ocultar scroll para safari chrome y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.option__menu {
    padding: 20px 30px;
    top: 80px;

}

.option__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.option__menu a:hover {
    color: #ffffff;
}

.option__menu .option {
    padding: 2opx 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.option__menu .option i {
    width: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.option__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: white;
}

.selected::before {
    content: '';
    width: 3px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: -30px;

}



/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu__sidebar_move {
    width: 250px;
}
/* TERMINO EL HEADER Y EL MENU DESDE EL PRINCIPAL */
/* -------------------------------------------------------------- */


.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)), url(../../assets/job-image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 100%;
    max-width: 60vh;
    margin-top: 7vh;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 4% 6% 13%;
    text-align: center;
}

.form-box h1{
    font-size: 180%;
    margin-bottom: 7%;
    color: #000000;
    position: relative;
}

.form-box .link{
    margin-top: -5%;
}

.form-box h1::after{
    content: '';
    width: 10%;
    height: 8%;
    border-radius: 10%;
    background: #000000;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaeaea;
    margin: 8%;
    border-radius: 3%;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

form .input-group a{
    text-decoration: none;
    color: #000000;
    text-align: left;
    font-size: 80%;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 6% 5%
}

.btn-field{
    margin-top: 7%;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    margin-left: 11vh;
    margin-top: 20%;
    background:black;
    color: #fff;
    height: 7vh;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 1%;
}

/*DISEÑO RESPONSIVE*/

@media (max-width: 1300px){
    .form-box{
        height: 58%;
    }

    .form-box .link{
        font-size: 2.3vh;
    }

    .btn-field button{
        margin-left: 9vh;
    }
}

@media (max-width: 1000px){
    .form-box{
        height: 60%;
    }
}

@media (max-width: 850px) {
    .title{
        font-size: 3vh;
    }

    .form-box{
        width: 40%;
        height: 65%;
        top: 53%;
        left: 58%;
        padding: 4% 4% 19%;
        border-radius: 1vh;
    }
    
    .form-box .link{
        font-size: 2.7vh;
    }

    .btn-field button{
        margin-left: 12vh;
    }
}

@media (max-width: 650px) {
    .title{
        font-size: 3vh;
    }

    .form-box{
        width: 60%;
        height: 60%;
        top: 50%;
        left: 58%;
        padding: 4% 4% 19%;
        border-radius: 1vh;
    }
    
    .form-box .link{
        font-size: 2.vh;
    }

    .btn-field button{
        margin-left: 12vh;
        margin-top: 12%;
    }
}

@media (max-width: 400px) {

    .home {
        margin-right: 100px;
        font-size: x-large;
        font-size: 2.5vh;
    }

    .title{
        font-size: 1.5vh;
        margin-right: 3vh;
    }

    .form-box{
        width: 60%;
        height: 51%;
        top: 50%;
        left: 60%;
        padding: 4% 4% 15%;
        border-radius: 1vh;
    }
    
    .form-box .link{
        font-size: 2.1vh;
    }

    .btn-field button{
        margin-left: 9vh;
    }
}




